@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

body{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    margin-bottom: auto;
    font-family: 'Shadows Into Light', cursive;
    color: white;
    background: url("../img/fondoPexels.jpeg") no-repeat fixed center center;
    background-size: contain;
}

.redondeo{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    display: block;
    margin: 0px auto;
    border: 5px solid white;
}
